.name {
    grid-area: name;
    margin: 1rem 0 0 3rem;
    display: flex;
    

    .name-text {
        font-size: 3em;
    }

    .job-text {
        font-size: 2em;
        margin-left: 1rem;
        align-self: center;
    }
}