.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;

        &.icon-marker {
            width: 1.8rem;
            height: 1.8rem;
            margin-left: -0.25rem;
        }

    }
    
    .link {
        text-decoration: none;
        font-size: 1.1em;
        color: #fff;
        margin-left: 0.25rem;
    }
}