.picture {
    grid-area: picture;
    margin: 0 5rem 3rem 0;
    position: relative;

    img {
        position: absolute;
        left: -6.1rem;
        bottom: -2rem;
        height: 100%;
        border-bottom-right-radius: 30px;
    }
}