.title {
    text-transform: uppercase;
    display: flex;

    h2 {
        font-size: 1.5em;

        &:after {
            content: '';
            display: block;
            margin-left: auto;
            width: 45%;
            border-bottom: 3px solid #fff;
        }
    } 
}