.timeline {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 30px;
            border-top: 2px solid #fff;
            width: 87%;
            left: 30px;
            z-index: 1;
            
        }

        .end {
            position: relative;
            width: calc(100% / 7);

            .line {
                position: absolute;
                top: 30px;
                border-top: 2px solid #fff;
                width: 22%;
                left: -20px;
                z-index: 3;
            }

            .year {
                width: 100%;
            }
        }
    }