.timeline {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        top: 2rem;

        &:after {
            content: '';
            position: absolute;
            top: 30px;
            border-top: 2px solid #fff;
            width: 87%;
            left: 30px;
            z-index: 1;
            
        }

        .end {
            position: relative;
            width: calc(100% / 7);

            .line {
                position: absolute;
                top: 30px;
                border-top: 2px solid #fff;
                width: 22%;
                left: -20px;
                z-index: 3;

                @media screen and (max-width: 1300px) {
                        left: -14px;
                
                    }

                @media screen and (max-width: 1150px) {
                        left: -11px;
                
                    }

                    @media screen and (max-width: 900px) {
                        left: -5px;
                
                    }
            }
            
            .year {
                width: 100%;
                min-width: 120px;

                .description {
                    bottom: -4rem;
                    left: -1.5rem;
                }
            }
        }
    }