.timeline {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        top: 2rem;

        &:after {
            content: '';
            position: absolute;
            top: 1.9rem;
            border-top: 2px solid #fff;
            width: 87%;
            left: 1.9rem;
            z-index: 1;
            
        }

        .end {
            position: relative;
            width: calc(100% / 7);

            .line {
                position: absolute;
                top: 1.9rem;
                border-top: 2px solid #fff;
                width: 22%;
                left: -0.9rem;
                z-index: 3;
            }
            
            .year {
                width: 100%;

                .description {
                    bottom: -4.5rem;
                    left: -1.5rem;
                }
            }
        }
    }