@font-face {
    font-family: 'Androgyne_TB';
    src: url('/font/Androgyne_TB.otf') format('opentype');
}

* {
    font-family: 'Androgyne_TB', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.background {
    height: 780px;
    width: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    .layout-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #00deff 0%, #2e00bf 75%, #31006a 100%);
        border-radius: 30px;
        position: relative;
        font-size: 14px;

        .layout-content {
            display: grid;
        grid-template-columns:  3.2fr 1.4fr 0.5fr 1.5fr; 
        grid-template-rows: 1.4fr 0.8fr 2.9fr 1fr 1fr; 
        gap: 1rem; 
        grid-template-areas: 
            "formation formation formation contact"
            "experience skill quality quality"
            "experience skill picture picture"
            "experience language picture picture"
            "name name picture picture";
            
            width: 97%;
            height: 96%;
            border: 2px solid #fff;
            border-radius: 25px;
        }
    }
}
