// variables
$hot-pink: #e6007e;

.skill-item {
    margin-top: 1rem;
    width: 21%;
    
    .gauge {
        height: 190px;
        width: 17px;
        display: block;
        background: #000;
        border-radius: 10px;
        position: relative;
        margin: 0 auto;

        .gauge-fill {
            width: 100%;
            position: absolute;
            background: $hot-pink;
            bottom: 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            right: 0;
            left: 0px; 
        } 
        
        .gauge-first-border, .gauge-second-border  {
            position: absolute;
            width: 2px;
            background: #fff;
            left: 3px;
        }

        .gauge-first-border {
            bottom: 12px;
        }
    }

    .text {
        font-size: 1.1rem;
        margin-top: 0.5rem;
        text-align: center;
    }
}